.colores{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.borde{
    border: 5px solid darkblue;
}

.azul{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
}

.rojo{
    background-color: red;
}